/* Colors: 
  Dark Blue: #003F87
  Medium Blue: #226fbe
  Light Blue: #4593e3
 */
* { margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif; }
input { border: 0; }
h1 { padding: 10px 0; }

#app-container {
  text-align: center;
    max-width: 500px;
    width: 100%;
    box-shadow: 5px 1px 15px #eee;
    margin: 30px auto;
    padding: 10px;
}

.new-task {
  display: flex;
  flex-flow: column;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.new-task input,
.new-task .button {
  margin: 5px 10px;
}

.new-task input,
.tasks-area input {
  border-bottom: 1px solid #ddd;
  transition: 200ms border-bottom-color ease-in;
}

.new-task input:focus,
.tasks-area input:focus {
  outline: none;
  border-bottom-color: #226fbe;
}

.new-task .button {
  text-align: left;
}

.new-task .button button,
.tasks-area--title button {
  padding: 10px 15px;
  border-radius: 2px;
  border: 0;
  color: #fff;
  transition: 200ms all ease-in;
}

.new-task .button button {
  background: #226fbe;
}

.new-task .button button:hover {
  cursor: pointer;
  background: #4593e3;
  color: #003F87;
}

/* Task Area */
.tasks-area {
  padding: 10px;
}

.tasks-area--title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tasks-area--title button {
  background: #000;
  cursor: pointer;
}

.tasks-area--filter {
  display: flex;
  padding-bottom: 10px;
}

.tasks-area--filter input {
  width: 100%;
}

/* Collection */
.task-item {
  text-align: left;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-item .recycle:after {
  content: "\267C";
  font-size: 1.25rem;
  cursor: pointer;
}

.task-item .recycle:hover:after {
  color: red;
}

.removing {
  animation: remove 500ms;
  display: none;
}

@keyframes remove {
  to {
    transform: translateX(15px);
    opacity: 0;
  }
}