label {
  display: initial;
  padding-left: 15px;
  text-indent: -15px;

  &:hover {
    cursor: pointer;
  }
}

input {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -2px;
}

input:hover {
  cursor: pointer;
}
